/* styles.css */
  
p {
    color: rgb(93, 56, 179); 
    border: 2px solid rgb(15, 93, 103);
    padding: 30px;
    font-family:monospace;
    font-size:15px;
    text-align: left;
    background-color:tomato;
    opacity:;
    margin:;
    outline-style: inset;
    outline-color:rgb(200, 220, 15)
}

h1 {
    color: tomato;
    outline:
    border:;
    padding:;
    font-family:monospace;
    margin: 10px;
    font-size:35px;
    text-shadow: 2px 2px 5px rgb(93, 56, 179);;
}

ul{
    color:rgb(93, 56, 179);
    border:;
    font-family:monospace;
    font-size:15px;
    text-align: left;
    outline-style: inset;
    outline-color:rgb(200, 220, 15);
    background-color: tomato;
}

ol{
    color:rgb(93, 56, 179);
    border:;
    font-family:monospace;
    font-size:15px;
    text-align: left;
    outline-style: inset;
    outline-color:rgb(200, 220, 15);
    background-color: tomato;
}

.parent {
    display: flex;
    height: 300px; /* Or whatever */
  }
  
  .child {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center safe;
    align-items: baseline safe; 
    gap: 10px 20px;
}

.flex-container {
    display: flex;
    border: 4px solid rgb(200, 220, 15);
    background-color: tomato
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: tomato; 
    border: 4px solid rgb(93, 56, 179);
    height: 100px;
    flex: 1; 
}

.flex-item {
    background: black;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}*/

body
{
    min-height: 100vh;
    background: lightblue;
}

.navigation{
    position: fixed; 
    top: 20px;
    right: 20px;
    height: 20px;
    width: 250px;
    z-index: 100;
    /*justify-content: space-around;*/
}

.toggle
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ffff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(93, 56, 179);
    padding: 5px 20px;
}
.toggle::before{
    content: 'Menu';
    margin-right: 10px; 
}

.toggle.active::before{
    content: 'Close';
}

.toggle span{
    position: relative;
    width: 20px;
    height: 50px;
}

.toggle span::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(93, 56, 179);
    transition: 0.5s;
}

.toggle span::after{
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(93, 56, 179);
    transition: 0.5s;
}

.toggle.active span::before{
    transform: rotate(225deg);
    top: 24px;
}

.toggle.active span::after{
    transform: rotate(135deg);
    bottom: 24px;
}

ul
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}
ul li
{
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active ul li{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}
ul li a
{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background: #ffff;
    color: #333;
    transition: 0.5s;
}
ul li a:hover
{
    background: #f6f6f6;
    color: rgb(200, 220, 15);
    transition: 0.5s;
}